.scroll-reveal {
  margin: 0;
  display: block;
}

.scroll-reveal-text {
  margin: 0;
  display: block;
  line-height: inherit;
  font: inherit;
}

.scroll-reveal .word {
  display: inline-block;
  will-change: opacity, filter;
}
