.home-button {
    color: "#889def";
    max-width: "20%";
    align-self: "center";
    font-size: "1.5rem";
}

.category-button {
    color: "#889def";
    max-width: "25%";
    align-self: "center";
    font-size: "1.5rem";
}